body {
    font-family: Tahoma, Verdana, sans-serif;
    background: #fff5f7;
    margin: 0;
    padding: 30px;
    color: #4a2c2a;
}

h1 {
    text-align: center;
    font-weight: 500;
    color: #b03060;
}

h2 {
    text-align: center;
    color: #d36b8c;
}

p {
    font-size: 20px;
    max-width: 650px;
    margin: 15px auto;
    text-align: center;
    line-height: 1.8;
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
}

a {
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 10px auto;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 20px;
    background: #ffe4ec;
    color: #b03060;
    text-decoration: none;
    border: 1px solid #f8cdd8;
    transition: 0.3s;
}

a:hover {
    background: #f8cdd8;
}

ul {
    max-width: 400px;
    margin: 25px auto;
    padding: 0;
    list-style: none;
}

li {
    font-size: 20px;
    background: #ffffff;
    margin: 10px 0;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(255, 182, 193, 0.2);
}

li:hover {
    transform: translateY(-3px);
}

table {
    margin: 30px auto;
    width: 90%;
    max-width: 900px;
    border-collapse: separate;
    border-spacing: 0;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
}

td {
    border-bottom: 1px solid #f3d6dc;
    border-right: 1px solid #f3d6dc;
}

tr:last-child td {
    border-bottom: none;
}

td:last-child {
    border-right: none;
}

th {
    background: #f8cdd8;
    color: #7a2e45;
}

tr:nth-child(even) {
    background: #fff0f3;
}

tr:hover {
    background: #ffe4ec;
}

img {
    display: inline-block;
    width: 30%;
    margin: 10px;
    border-radius: 15px;
    transition: 0.3s;
    vertical-align: top;
}


img:hover {
    transform: scale(1.05);
}

/* Adla Koltraka  */
